*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.flex-center{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.page-container{
 background-color: #c33434;
 min-width: 100vw;
 min-height: 100vh;
 padding: 0 1rem;
}

.page-heading{
 margin-top: 5rem;
}

.card{
 background-color: #020a31;
 min-width: 50%;
 min-height: 10rem;
 flex-direction: row;
 border-radius: 1rem 0 1rem 0;
 padding: 1.5rem;
 margin-top: 1rem;
}

.links{
 padding: 0.75rem 1rem;
 background-color: #8692d2;
 text-decoration: none;/*this removes the underline in the link*/
 font-weight: 700;
}

.links:hover{
 color: red;
 background-color: #6a1d88;
}

.link-2{
 margin: 0 1rem;
}

.link-3{
 margin-right: 1rem;
}